<mat-toolbar color="primary" class="menu__container">
  <button mat-icon-button>
    <mat-icon color="accent">menu</mat-icon>
  </button>
  <span class="menu__logo-link" [routerLink]="'/'">AMKU</span>
  <div>
    <button mat-icon-button *ngIf="auth.user | async" [routerLink]="'/add-recipe'">
      <mat-icon color="accent">library_add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="auth.user | async" [routerLink]="'/admin'">
      <mat-icon color="accent">fingerprint</mat-icon>
    </button>
    <button mat-icon-button *ngIf="auth.user | async" (click)="logout()">
      <mat-icon color="accent">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

