.app-main__container {
    width: 100%;
}

.app-menu__container {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.app-content__container {
    width: 80vw;
    margin: 64px auto 0;
    padding: 1rem;
}
